.achievements-list {
  margin-top: 38px;
  padding: 0;
  list-style: none;
}

.achievements-list__item {
  margin-bottom: 47px;
  padding: 5px 0 0 89px;
}

@media (min-width: @tablet-width) {
  .achievements-list {
    padding: 52px 0 5px 28px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }
}

@media (min-width: @desktop-width) {
  .achievements-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 940px;
    padding: 56px 0 0 117px;
    margin: 0;
  }

  .achievements-list__item {
    width: 260px;
    margin: 0 0 52px 0;
    padding: 0;
  }

  .achievements-list__item--selfie {
    order: 1;
  }

  .achievements-list__item--chuck {
    order: 2;
    padding: 0 0 0 55px;
  }

  .achievements-list__item--tower-held {
    order: 3;
    padding: 0 0 0 90px;
  }

  .achievements-list__item--scorched {
    order: 4;
  }

  .achievements-list__item--souvenirs {
    order: 5;
  }

  .achievements-list__item--hotel-crushed {
    order: 6;
  }

  .achivements-list___item:nth-of-type(2n) {
    padding: 0 0 0 58px;
  }
}
