.advantages__main-title {
  min-width: 215px;
  margin: 0;
  text-align: center;
  .set-default-header;
}

.advantages__title {
  .set-bold-title;
}

.advantages__list {
  list-style: none;
}

.advantages__description {
  .set-default-paragraph;
}

.advantages__main {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: @lightgray;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 660px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row;
    width: 660px;
    background: url("../img/bg-triangle-white.svg") no-repeat;
    background-color: @lightgray;
  }

  .advantages__main {
    order: 3;
    width: 340px;
    background: none;
  }

  .advantages__footer {
    width: 320px;
  }

  .advantages__main-title {
    width: 600px;
    margin-left: 25px;
    font-size: 40px;
    text-align: center;
  }

  .advantages__main-title:not(:first-of-type) {
    width: 345px;
    margin-left: 140px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__header {
    width: 1200px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
  }

  .advantages__footer {
    display: none;
  }

  .advantages__wrapper {
    width: 1200px;
    background: url("../img/bg-triangle-white.svg") no-repeat;
    background-color: @lightgray;
  }

  .advantages__main-title {
    width: 750px;
    margin-left: 200px;
    font-size: 50px;
  }

  .advantages__main-title:not(:first-of-type) {
    width: 440px;
    margin-left: 320px;
  }
}
