.advantages__main-title {
  .set-default-header;
}

.advantages__title {
  .set-bold-title;
}

.advantages__list {
  list-style: none;
}

.advantages__description {
  .set-default-paragraph;
}

.advantages__main {
  background-color: @lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}
