.advantages__title.title {
  font-weight: @light;
  font-size: 24px;
  line-height: auto;
  color: @navy;
}

.advantages__title {
  font-weight: @bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__list {
  list-style: none;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @navy;
}

.advantages__main {
  background-color: @lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}
