.app {
  background-color: @darknavy;
  min-height: 270px;
}

@media (min-width: @tablet-width) {
  .app {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 49px;
    margin-top: 92px;
    background-color: transparent;
    padding: 0;
    z-index: 2;
  }
}

@media (min-width: @desktop-width) {
  .app {
    margin-top: 202px;
    margin-left: 50px;
  }
}
