.app {
  background-color: @darknavy;
  min-height: 270px;
}

.app__phone-image {
  display: block;
  background-color: transparent;
  margin: 10px 0 0 0;
  width: 258px;
  height: 287px;
}

@media (min-width: @tablet-width) {
  .app {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -209px;
    margin-top: 112px;
    background-color: transparent;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .app {
    margin-top: 202px;
    margin-left: -208px;
  }

  .app__phone-image {
    padding-top: 250px;
    height: 500px;
  }
}
