.application-list {
  list-style: none;
  padding: 23px 0 0 89px;
}

.application-list__item {
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .application-list {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 56px 0 14px 118px;
    margin-top: 14px;
  }
}
