.contest__required-more {
  display: none;
}

.contest__header {
  background-color: @navy;
}

.contest__about {
  width: 280px;
  margin-top: 45px;
}

.contest__title {
  .set-default-page-header;
}

.contest__description {
  text-align: center;
  .set-default-introduction;
}

.contest__description-add {
  display: none;
}

.contest__footer {
  display: flex;
  flex-direction: column;
  margin: 50px 0 14px 0;
}

.contest__submit {
  width: 280px;
  margin: 0 auto;
  margin-top: -1px;
  padding: 16px 0 17px 0;
  font-weight: @bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
}

.contest__required-star {
  color: @cherry;
}

.contest__required {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: @navy;
}

@media (min-width: @tablet-width) {
  .contest__about {
    width: 500px;
  }

  .contest__description {
    display: block;
    font-size: 18px;
    margin-top: 92px;
  }

  .contest__description-add {
    display: block;
  }

  .contest__form {
    display: flex;
    flex-direction: column;
  }

  .contest__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 6;
    margin-bottom: 37px;
  }

  .contest__submit {
    width: 300px;
    margin: 17px 0 0 20px;
  }

  .contest__required {
    margin-left: 139px;
  }

  .contest__application {
    margin-bottom: 12px;
  }
}

@media (min-width: @desktop-width) {
  .contest__about {
    width: 765px;
  }

  .contest__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contest__description {
    width: 765px;
    margin-top: 92px;
  }

  .contest__description-add {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .contest__submit {
    margin: 15px 0 0 10px;
  }

  .contest__required-more {
    display: inline;
  }

  .contest__required {
    margin: 33px 10px 0 0;
  }

  .contest__footer {
    margin-bottom: 2px;
  }

  .contest__application {
    margin-top: 40px;
    margin-bottom: 0;
  }
}
