.contacts__title {
  font-weight: @light;
  font-size: 24px;
  line-height: auto;
  color: @navy;
}

.contacts__list {
  list-style: none;
}

.contact__option {
  font-weight: @bold;
  font-size: 18px;
  line-height: auto;
  color: @navy;
}

.contact__value {
  font-weight: @light;
  font-size: 24px;
  line-height: auto;
  color: @cherry;
  text-decoration: none;
}

.contacts__map {
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
}
