.developed__by {
  font-size: 14px;
  line-height: 18px;
  color: @navy;
}

.developed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 44px 0 0 -1px;
}

.developed__link {
  margin: -7px 0 0 15px;
}

.developed__link:hover svg {
  fill: @navy;
}

@media (min-width: @tablet-width) {
  .developed {
    margin: 19px 0 0 89px;
  }

  .developed__link {
    margin: -6px 0 0 16px;
  }
}

@media (min-width: @desktop-width) {
  .developed__by {
    font-size: 18px;
  }

  .developed {
    margin: 83px 0 0 226px;
  }

  .developed__link {
    margin: -4px 0 0 12px;
  }

  .developed--default {
    margin: 88px 0 0 221px;
  }
}
