.developed__by {
  font-size: 14px;
  line-height: 18px;
  color: @navy;
}

@media (min-width: @tablet-width) {
  .developed {
    margin: 24px 0 0 89px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .developed__link {
    margin: -10px 0 0 8px;
  }

  .developed__link img {
    width: 41px;
  }
}

@media (min-width: @desktop-width) {
  .developed__by {
    font-size: 18px;
  }

  .developed {
    margin: 89px 0 0 226px;
  }

  .developed__link {
    margin: -8px 0 0 7px;
  }

  .developed--default {
    margin: 88px 0 0 221px;
  }
}
