.download {
  display: flex;
  flex-direction: column;
  padding: 29px 0 0 0;
  margin-left: -1px;
}

.download__link {
  color: #ffffff;
  width: inherit;

  &:hover {
    color: @cherry;
  }
}

.download__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  margin-top: 20px;
  padding-top: 18px;
}

.download__header {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  width: 280px;
  margin-top: -1px;
  margin-left: 20px;
  border: 3px solid white;
  border-radius: 30px;
  padding: 14px 0 16px 37px;
  font-weight: @bold;

  &:hover {
    background-color: white;
    color: @cherry;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__description {
  font-weight: @light;
  font-size: 14px;
  line-height: 24px;
  color: @white;
  text-align: center;
  width: 240px;
  margin: 0;
  padding: 2px 0 0 0;
  margin-left: 40px;
}

@media (min-width: @tablet-width) {
  .download__header {
    display: block;
    margin-left: -29px;
    margin-top: 2px;
    margin-bottom: 18px;
    width: 300px;
    padding: 14px 0 17px 45px;
  }

  .download__list {
    margin: 35px 0 0 -40px;
    padding-top: 15px;
  }

  .download__description {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    margin: 32px 0 0 -29px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin: 21px 0 0 -10px;
  }

  .download__header {
    font-size: 21px;
    line-height: 18px;
    padding-left: 29px;
    margin-left: -30px;
  }

  .download__list {
    padding-top: 35px;
    padding-left: 39px;
  }

  .download__description {
    margin: 51px 0 0 -30px;
  }
}
