.download {
  display: flex;
  flex-direction: column;
}

.download__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.download__header {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.download__description {
  font-weight: @light;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}
