.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    width: @tablet-width;
  }

  .effect__introduction {
    width: 310px;
    margin: 94px 0 0 329px;
  }

  .effect__header {
    font-size: 30px;
    line-height: 36px;
    font-weight: @bold;
    width: 170px;
  }

  .effect__description {
    .set-default-paragraph;
    line-height: 24px;
    width: 297px;
    margin: -20px 0 0 0;
  }

  .effect__more-link {
    font-size: 14px;
    line-height: 24px;
    color: @cherry;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    width: @desktop-width;
  }

  .effect__introduction {
    width: 525px;
  }

  .effect__header {
    width: inherit;
    line-height: 30px;
  }

  .effect__description {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__more-link {
    font-size: 18px;
  }
}
