.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
}

.feedback__author {
  line-height: 30px;
  .set-bold-title;
  text-align: center;
}

.feedback__author-about {
  display: none;
}

.feedback__comment {
  .set-default-paragraph;
  text-align: center;
  line-height: 30px;
  width: 280px;
  margin: 0 auto;
  margin-top: -2px;
}

.feedback__toggles {
  margin: 32px 0 6px 129px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .feedback__quote {
    display: flex;
    flex-direction: column;
  }

  .feedback__author {
    order: 2;
    font-size: 20px;
    margin-top: 38px;
    margin-bottom: 0;
  }

  .feedback__author-about {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    color: @darknavy;
    margin: 5px 0 0 243px;
    width: 190px;
  }

  .feedback__comment {
    font-size: 18px;
    line-height: 30px;
    width: @tablet-width;
    margin-top: 80px;
  }

  .feedback__toggles {
    margin: 32px 0 0 299px;
  }

  .feedback {
    margin-top: -28px;
    margin-bottom: 6px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    position: relative;
    width: @desktop-width;
    margin-top: -2px;
  }

  .feedback__quote {
    width: 720px;
    margin: 0 auto;
  }

  .feedback__author {
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 36px;
  }

  .feedback__comment {
    position: relative;
    width: 700px;
    margin: 0 auto;
    margin-top: 142px;
  }

  .feedback__author-about {
    width: 250px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 2px;
  }

  .feedback__quote::before {
    position: absolute;
    content: "";
    top: 28px;
    right: 438px;
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
  }
}
