.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
}

.feedback__author {
  line-height: 30px;
  .set-bold-title;
  text-align: center;
}

.feedback__author-about {
  display: none;
}

.feedback__comment {
  .set-default-paragraph;
  text-align: center;
  line-height: 30px;
  width: 280px;
  margin: 0 auto;
  margin-top: -2px;
}

.feedback__toggles {
  margin: 25px 0 13px 129px;
}

@media (min-width: @tablet-width) {
  .feedback__quote {
    display: flex;
    flex-direction: column;
  }

  .feedback__author {
    order: 2;
    font-size: 20px;
    margin-top: 38px;
    margin-bottom: 0;
  }

  .feedback__author-about {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    color: @darknavy;
    margin: 5px 0 0 243px;
    width: 190px;
  }

  .feedback__comment {
    font-size: 18px;
    line-height: 30px;
    width: @tablet-width;
    margin-top: 80px;
  }

  .feedback__toggles {
    margin: 26px 0 0 299px;
  }

  .feedback {
    margin-top: -60px;
    margin-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    position: relative;
    width: @desktop-width;
    margin-top: -2px;
  }

  .feedback__quote {
    width: 720px;
    margin: 0 auto;
  }

  .feedback__author {
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 36px;
  }

  .feedback__comment {
    position: relative;
    width: 700px;
    margin: 0 auto;
    margin-top: 142px;
  }

  .feedback__author-about {
    width: 250px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 2px;
  }

  .feedback__toggles {
    display: none;
  }

  .feedback::after {
    position: absolute;
    content: "";
    top: 170px;
    left: 10px;
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    opacity: 0.3;
  }

  .feedback::before {
    position: absolute;
    content: "";
    top: 170px;
    right: 10px;
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-right.svg");
    opacity: 0.3;
  }

  .feedback__quote::before {
    position: absolute;
    content: "";
    top: 28px;
    right: 438px;
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
  }
}
