.filter-list {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 210px;
}

.filter-list__item {
  width: 50px;
}

.filter-list__item--brightness img {
  display: block;
  margin-top: 7px;
}

.filter-list__item--fill img {
  display: block;
  margin-top: 1px;
}
