.filter-list {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 210px;
}

.filter-list__icon {
  fill: #b5b9be;
  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: @cherry;
  }
}

.filter-list__switch:active svg {
  fill: @cherry;
}

.filter-list__switch:focus svg {
  fill: @cherry;
}

.filter-list__switch:focus {
  outline: none;
}

.filter-list__item {
  width: 50px;
}

.filter-list__item--brightness img {
  display: block;
  margin-top: 7px;
}

.filter-list__item--fill img {
  display: block;
  margin-top: 1px;
}

.filter-list__switch {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: none;
}

.filter-list__switch--crop {
  margin-top: 20px;
}

.filter-list__switch--crop svg {
  margin-left: -5px;
}

.filter-list__switch--fill {
  margin-top: 22px;
}

.filter-list__switch--fill svg {
  margin-left: -5px;
  margin-top: 1px;
}

.filter-list__switch--brightness {
  margin: 28px 0 0 6px;
}

.filter-list__switch--brightness svg {
  margin: -10px 0 0 -19px;
}

.filter-list__switch img {
  height: 24px;
  width: 24px;
}

.filter-list__icon--active {
  fill: @cherry;
}

@media (min-width: @tablet-width) {
  .filter-list__icon {
    fill: @cherry;

    &:focus {
      fill: #8d949b;
    }
  }

  .filter-list__switch svg {
    width: 24px;
    height: 24px;
  }

  .filter-list__switch--brightness svg {
    width: 16px;
    height: 16px;
    margin: -2px 0 0 -7px;
  }

  .filter-list {
    width: 275px;
    margin: 7px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .filter-list__item {
    width: 275px;
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #dddfe0;
  }

  .filter-list__item img {
    width: 24px;
    height: 24px;
  }

  .filter-list__item--crop {
    padding: 0 0 0 0;
  }

  .filter-list__item--fill {
    padding: 9px 0 0 0;
  }

  .filter-list__item--brightness {
    padding: 0px 0 0 5px;
  }

  .filter-list__item--brightness img {
    width: 16px;
    height: 16px;
  }

  .filter-list__switch {
    width: 25px;
    height: 25px;
  }

  .filter-list__switch--crop {
    background-size: 24px;
    margin: 58px 0 0 3px;
  }

  .filter-list__switch--fill {
    background-size: 24px;
    margin: -1px 0 0 4px;
  }

  .filter-list__switch--brightness {
    background-size: 16px;
    margin: 7px 0 0 5px;
  }
}

@media (min-width: @desktop-width) {
  .filter-list__switch svg {
    width: 48px;
    height: 48px;
  }

  .filter-list {
    width: 410px;
    margin: 0 0 0 28px;
  }

  .filter-list__item {
    width: 100%;
  }

  .filter-list__switch {
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  .filter-list__switch--crop {
    background-size: 48px;
    margin: 54px 0 0 0;
  }

  .filter-list__switch--crop svg {
    margin: 0 0 0 -10px;
  }

  .filter-list__switch--fill {
    background-size: 48px;
    margin: -11px 0 0 2px;
  }

  .filter-list__switch--fill svg {
    margin: 0 0 0 -10px;
  }

  .filter-list__switch--brightness {
    background-size: 32px;
    margin: 0 0 0 3px;
  }

  .filter-list__switch--brightness svg {
    width: 32px;
    height: 32px;
    margin: -11px 0 0 -28px;
  }
}
