.form__fieldset.width-fix > legend {
  width: 250px;
  margin-left: 40px;
}

.form__fieldset--describe.width-fix > legend {
  margin-left: 68px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  .set-input-title;
  padding: 0 0 5px 43px;
}

.form__header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  z-index: 5;

  .set-form-introduction;
}

.form__list {
  padding: 0;
  list-style: none;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__group {
  background-color: @lightgray;
}

.form__list--full-name {
  margin-top: 34px;
  margin-bottom: 42px;
}

.form__item--full-name {
  margin-bottom: 17px;
}

.form__text-input {
  width: 280px;
  margin: 0 auto;
  padding: 14px 20px 15px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #ededed;
  border-radius: 3px;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: @cherry;
    outline: none;
  }
}

.form__text-input::placeholder {
  color: @navy;
}

.form__text-input::-moz-placeholder {
  opacity: 1;
  color: @navy;
}

.form__header--achievements {
  display: block;
  padding: 38px 0 0 0;
  width: 236px;
}

.form__group--achievements {
  padding-bottom: 1px;
}

.form__label {
  .set-default-choice;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -69px;
  top: -4px;
  width: 39px;
  height: 39px;
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}

.form__label:focus {
  outline: none;
}

.form__checkbox:checked + .form__label::before {
  background: url("../img/icon-yes.svg") no-repeat @white 50% 48%;
  background-size: 22px 16px;

  &:hover {
    border-color: #283645;
  }
}

.form__list--contacts {
  margin-bottom: 25px;
}

.form__radio + .form__label::before {
  content: "";

  position: absolute;
  left: -69px;
  top: -4px;

  width: 39px;
  height: 39px;
  background-color: #ffffff;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.form__label:hover::before {
  border-color: #283645;
}

.form__label:active::before {
  border-color: @cherry;
}

.form__label:focus::before {
  border-color: @cherry;
  outline: none;
}

.form__radio:checked + .form__label::after {
  content: "";

  position: absolute;
  left: -57px;
  top: 8px;

  width: 15px;
  height: 15px;
  background-color: @cherry;
  border-radius: 50%;
}

.form__group--application {
  padding-bottom: 2px;
  margin-bottom: 32px;
}

.form__title--describe {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.form__item--contacts {
  margin-bottom: 17px;
}

.form__header--contacts {
  display: none;
}

.form__header--application {
  width: 215px;
}

@media (min-width: @tablet-width) {
  .form__text-input {
    height: 63px;
  }

  .form__fieldset > legend {
    position: absolute;
    left: 50%;
    top: -12px;
    background: white;
    transform: translate(-50%, 0);
  }

  .form__fieldset.width-fix > legend {
    width: auto;
    text-align: center;
    margin: 0;
  }

  .form__fieldset--achievements.width-fix > legend {
    width: 400px;
    text-align: center;
  }

  .form__fieldset--application.width-fix > legend {
    width: 400px;
    text-align: center;
    margin: 0;
  }

  .form__fieldset {
    position: relative;
    border: 2px solid #e5e5e5;
    width: 500px;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-radius: 3px;
  }

  .form__fieldset--application {
    width: 620px;
    order: 2;
    margin: 0 auto;
    padding-bottom: 13px;
    margin-top: 12px;
  }

  .form__fieldset--pm-us {
    width: 620px;
    order: 3;
    margin-top: 67px;
  }

  .form__fieldset--achievements {
    width: 620px;
    order: 4;
    padding-bottom: 6px;
    margin: 0 auto;
    margin-top: 67px;
  }

  .form__fieldset--describe {
    width: 620px;
    order: 5;
    margin-top: 62px;
  }

  .form__group {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }

  .form__item--full-name {
    width: 620px;
    display: flex;
    flex-basis: @tablet-width;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .form__item--full-name input {
    width: 100%;
  }

  .form__item--full-name label {
    padding-right: 19px;
  }

  .form__list--full-name {
    width: 620px;
    order: 1;
    margin: 0 auto;
    margin-top: 53px;
  }

  .form__title {
    padding: 18px 0 0 0;
    width: auto;
  }

  .form__group--application {
    position: relative;
    order: 2;
    width: 605px;
    margin-bottom: 0;
    margin-top: 6px;
  }

  .form__group--achievements {
    position: relative;
    order: 4;
    width: 620px;
    margin: 0 auto;
    margin-top: 1px;
    border-radius: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form__header--contacts {
    display: block;
    padding: 0 25px 0 25px;
  }

  .form__list--contacts {
    border-radius: 3px;
    padding: 28px 2px 0 0;
  }

  .form__item--contacts {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    border-radius: 3px;
  }

  .form__item--contacts:not(:first-of-type) {
    margin-top: 29px;
  }

  .form__item--contacts input {
    order: 1;
    width: 500px;
    margin: 0 auto;
  }

  .form__item--contacts label {
    order: 2;
  }

  .form__radio + .form__label::before {
    left: -60px;
    top: -4px;
  }

  .form__radio:checked + .form__label::after {
    left: -48px;
    top: 8px;
  }

  .form__header--application {
    padding: 0 10px 0 10px;
    width: 400px;
  }

  .form__title--contacts {
    position: relative;
    padding: 10px 0 0 77px;
  }

  .form__title--phone::before {
    content: "";
    position: absolute;
    left: 493px;
    top: -61px;
    width: 62px;
    height: 59px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 22px 19px;
  }

  .form__title--address::before {
    content: "";
    position: absolute;
    left: 493px;
    top: -61px;
    width: 62px;
    height: 59px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 23px 22px;
  }

  .form__text-input--contacts {
    padding-right: 80px;
  }

  .form__checkbox + .form__label::before {
    left: -59px;
    top: -4px;
  }

  .form__checkbox:checked + .form__label::after {
    left: -59px;
    top: -4px;
  }

  .form__header--achievements {
    width: 430px;
    padding: 0 7px 0 6px;
  }

  .form__title--describe {
    padding: 0 35px 0 35px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form__fieldset {
    padding: 0;
    margin: 0;
  }

  .form__fieldset--application {
    margin: 62px 0 0 0;
    padding: 0;
    width: 436px;
    padding-bottom: 15px;
  }

  .form__fieldset--pm-us {
    width: 930px;
    margin: 0 auto;
    padding: 0;
    margin-top: 14px;
    padding-bottom: 12px;
  }

  .form__fieldset--achievements {
    width: 940px;
    margin: 0 auto;
    margin-top: 68px;
    padding-bottom: 8px;
  }

  .form__fieldset--describe {
    width: 936px;
    margin-top: 62px;
    padding-bottom: 0;
  }

  .form__list--full-name {
    width: 436px;
    margin: 66px 0 0 0;
    padding: 0;
  }

  .form__item--full-name {
    width: 436px;
    margin-bottom: 53px;
    padding: 0;
  }

  .form__header--application {
    width: 360px;
    padding: 0 2px 0 2px;
  }

  .form__list--contacts {
    width: 936px;
    margin: 0 auto;
    margin-top: -2px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .form__item--contacts {
    width: 373px;
    margin: 42px 0 0 21px;
    padding: 0;
  }

  .form__item--contacts:not(:first-of-type) {
    margin: 42px 24px 0 0;
    padding: 0;
  }

  .form__item--contacts input {
    width: 376px;
  }

  .form__title--contacts {
    padding: 10px 0 0 20px;
  }

  .form__title--contacts::before {
    content: "";
    position: absolute;
    left: 313px;
    top: -61px;
    width: 61px;
    height: 59px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 0;
  }

  .form__header--contacts {
    padding: 0 20px 0 20px;
  }

  .form__group--achievements {
    width: 940px;
    padding: 0;
    margin: 0 auto;
  }

  .form__group--application {
    width: 436px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .form__radio + .form__label::before {
    left: -59px;
    top: -4px;
  }

  .form__radio:checked + .form__label::after {
    left: -47px;
    top: 8px;
  }

  .form__checkbox + .form__label::before {
    left: 0;
    top: -4px;
  }

  .form__checkbox:checked + .form__label::after {
    left: 0;
    top: -4px;
  }

  .form__text-input--contacts {
    padding-right: 90px;
  }

  .form__text-input--required {
    border-color: red;

    &:hover {
      border-color: red;
    }

    &:focus {
      border-color: red;
    }
  }

  .form__title--phone::before {
    background-position: 19px 17px;
  }

  .form__title--address::before {
    background-position: 19px 20px;
  }

  .form__header--achievements {
    width: 430px;
    padding: 0 0 0 0;
  }
}
