.index-header {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 175px, url("../img/bg-back-mobile@1x.jpg") no-repeat @navy;
  min-height: 730px;
}

@media (min-width: @tablet-width) {
   .index-header {
     background-size: cover;
   }
}

@media (min-width: @desktop-width) {
  .index-header {
    width: 1200px;
    min-height: 850px;
  }
}
