.index-header {
  min-height: 735px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 44% 175px;
}

@media (min-width: @tablet-width) {
  .index-header {
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .index-header {
    min-height: 853px;
  }
}
