.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__upper {
  margin: 0 auto;
}

.page-footer__bottom {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
