.page-header {
  min-height: 237px;
}

.page-header__main-title {
  .set-default-page-header;
}

.page-header__title {
  .set-default-page-header;
  text-align: center;
}
.page-header__title {
  display: none;
}

.page-header__introduction {
  width: 200px;
  @media (min-width: @tablet-width) {
  width: 370px;
  }
}

.page-header__wrapper {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  width: 100%;
  background-size: 100% auto;
}

@media (min-width: @tablet-width) {
.page-header {
  min-height: 440px;
}
}

@media (min-width: @desktop-width) {
.page-header {
  min-height: 395px;
}
}
