.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.page-footer-wrapper {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.page-footer__upper {
  margin-top: 40px;
}

.page-footer__middle {
  margin-top: 33px;
}

.page-footer__bottom {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
}

.page-footer__logo-link {
  &:focus {
    outline: none;
  }
}

.page-footer__logo-star {
  display: none;
}

.page-footer__logo-glasses--mobile {
  fill: @cherry;
}

.page-footer__logo-glasses--desktop {
  display: none;
}

.page-footer__logo-image {
  fill: #283645;

  &:hover {
    fill: @cherry;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }

  &:focus {
    fill: #283645;
    outline: none;
  }

  &:focus:not(:active) {
    outline: none;
    fill: @cherry;
  }
}

.page-footer__logo-image--index {
  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 1;
  }
}

.page-footer__logo-link:focus:not(:active) .page-footer__logo-image {
  fill: @cherry;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .page-footer__upper {
    margin: -14px 0 0 20px;
    padding: 0;
  }

  .page-footer__middle {
    margin-left: 68px;
    margin-top: 33px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 68px;
  }

  .page-footer__upper {
    margin: 14px 0 0 10px;
  }

  .page-footer__middle {
    margin: 62px 0 0 227px;
  }

  .page-footer__middle--default {
    margin-left: 232px;
  }

  .page-footer__logo-glasses--mobile {
    display: none;
  }

  .page-footer__logo-glasses--desktop {
    fill: @cherry;
    display: inline;
  }

  .page-footer__logo-star {
    display: inline;
  }

  .page-footer__photo {
    padding-top: 68px;
  }

  .page-footer__photo .developed {
    margin: 41px 0 0 221px;
  }

  .page-footer__form .developed {
    margin: 41px 0 0 221px;
  }
}
