.page-main__wrapper--tariff {
  background: url("../img/bg-triangle-white.svg") no-repeat;
  background-color: @lightgray;
}

.page-main__wrapper--photo-add {
  position: relative;
  background-color: @lightgray;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .page-main__wrapper--effect {
    width: 100%;
    background-color: @lightgray;
    padding-top: 10px;
  }

  .page-main__wrapper--photo-add {
    width: 940px;
    margin: 0 auto;
  }
}
