.photo-list {
  list-style: none;
  padding: 0;
}

.photo-list__item {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .photo-list {
    width: @tablet-width;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .photo-list__item--main {
    width: @tablet-width;
  }

  .photo-list__item {
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .photo-list {
    width: @desktop-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photo-list__item:not(.photo-list__item--main) {
    margin: 0 0 54px 0;
    padding: 0;
  }

  .photo-list__item {
    margin: 0;
  }

  .photo-list__item--main {
    width: @desktop-width;
  }
}
