.photo-add__actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .photo-add {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
