.photo-list {
  list-style: none;
}

.photo-list__item {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {

}
