.photo__description {
  .set-default-introduction;
  text-align: center;
  margin: 0 auto;
  width: 255px;
}

.photo__description--bottom {
  margin: 44px 0 50px 30px;
}

.photo__description--top {
  width: 250px;
  padding: 29px 0 49px 0;
}

.photo {
  margin: 16px 0 0 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo {
    width: @tablet-width;
  }

  .photo__top {
    width: 450px;
    margin: 0 auto;
  }

  .photo__description {
    font-size: 18px;
    line-height: 30px;
  }

  .photo__description--top {
    width: 455px;
    margin: 63px 0 0 -2px;
  }

  .photo__description--bottom {
    width: 440px;
    margin: 45px 0 0 109px;
    padding-bottom: 78px;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: @desktop-width;
  }

  .photo__top {
    margin: 0 auto;
  }

  .photo-list {
    width: @desktop-width;
  }

  .photo__description--top {
    width: 580px;
    margin: 63px 0 0 -65px;
    padding-bottom: 61px;
  }

  .photo__description--bottom {
    width: 440px;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 65px;
  }
}
