.photo-add__wrapper {
  background-color: @lightgray;
  width: 100%;
}

.photo-add__actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .photo-add {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .photo-add__wrapper {
    margin: 0 auto;
    width: @desktop-width;
  }
}
