.photo-list {
  list-style: none;
}

.photo-list__item {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .photo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
