.pm-us {
  margin-top: 31px;
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .pm-us {
    width: 620px;
    position: relative;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .pm-us {
    order: 3;
  }
}
