.post {
  display: flex;
  flex-direction: column;
  font-size: 0;
  min-height: 300px;
}

.post__about {
  position: relative;
  width: 280px;
  margin: 0 auto;
  background-color: @lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 4px 0;
  margin-bottom: 0;
}

.post__photo {
  z-index: 2;
  margin: 0 auto;
  width: 280px;

  &:focus {
    outline: 2px solid @cherry;
  }
}

.post__author {
  font-weight: @bold;
  .set-default-paragraph;
}

.post__info {
  margin: 19px 0 0 18px;
  padding: 0;
}

.post__description {
  .set-default-paragraph;
  display: block;
  width: 250px;
  line-height: 24px;
  padding: 0 0 9px 0;
  margin: 0px 0 0 18px;
}

.post__likes {
  position: relative;
  .set-likes;;
  display: block;
  margin: 0 0 0 50px;
  padding-bottom: 21px;
}

.post__likes-button {
  position: absolute;
  border: none;
  background-color: transparent;
  left: 18px;
  bottom: 27px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
}

.post__date {
  .set-date;
}

@media (min-width: @tablet-width) {
  .post {
    width: 300px;
    font-size: 0;
  }

  .post__photo {
    width: 100%;
  }

  .post__photo img {
    width: 100%;
    min-height: 300px;
  }

  .post-title__about {
    width: 620px;
  }

  .post__about {
    min-height: 155px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .post__info {
    margin-top: 25px;
    padding: 0 0 0 10px;
  }

  .post__description {
    min-height: 50px;
    width: 260px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    line-height: 24px;
  }

  .post__likes {
    margin-bottom: 22px;
    padding: 0 0 0 0;
    margin-left: 28px;
  }

  .post__likes-button {
    bottom: 30px;
    left: 255px;
  }
}

@media (min-width: @desktop-width) {
  .post__photo img {
    min-height: 400px;
  }

  .post__description {
    margin: 0px 0 0 1px;
    padding: 0;
    padding-left: 27px;
  }

  .post__likes {
    padding-left: 1px;
    padding-top: 11px;
    padding-bottom: 0px;
  }

  .post__author {
    display: ininline-block;
    margin: 0;
    padding: 0;
  }

  .post__date {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .post__info {
    margin: 0;
    padding: 25px 0px 0px 28px;
    display: ininline-block;
  }

  .post__about {
    padding-bottom: 0px;
  }
}
