.post {
  display: flex;
  flex-direction: column;
}

.post__about {
  background-color: @lightgray;
}

.post__author {
  font-weight: @bold;
  .set-default-paragraph;
}

.post__description {
  .set-default-paragraph;
}

.post__likes {
  .set-likes;
}

.post__date {
  .set-date;
}

@media (min-width: @tablet-width) {
  .post {
    width: 300px;
  }

  .post__photo {
    width: 100%;
  }

  .post-title__about {
    width: 620px;
  }

  .post__about {
    min-height: 155px;
  }
}
