.post-main {
  width: 320px;
}

.post-main__description {
  .set-default-paragraph;
}

.post-main__likes {
  .set-likes;
}

.post-main__date {
  .set-date;
}

.post-main__author {
  font-weight: @bold;
  .set-default-paragraph;
}

.post-main__about {
  width: 280px;
  margin: 0 auto;
  background-color: @lightgray;
}
.post-main__photo {
  margin: 0 auto;
}
