.post-main__description {
  .set-default-paragraph;
  margin: 0 auto;
  line-height: 24px;
  padding: 0 0 10px 18px;
}

.post-main__likes {
  .set-likes;
  padding: 0 0 20px 49px;
}

.post-main__date {
  .set-date;
}

.post-main__author {
  font-weight: @bold;
  .set-default-paragraph;
}

.post-main__about {
  width: 280px;
  margin: 0 auto;
  background-color: @lightgray;
  margin-top: -6px;
  padding-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-main__info {
  padding-left: 18px;
}

.post-main__photo {
  width: 1000px;
}

@media (min-width: @tablet-width) {
  .post-main {
    width: 660px;
  }

  .post-main__photo {
    width: 100%;
  }

  .post-main__about {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .post-main {
    width: @desktop-width;
  }

  .post-main__photo {
    width: 100%;
  }

  .post-main__about {
    width: 940px;
  }
}
