.site-list {
  list-style: none;
  color: #ffffff;

  background-color: @navy;
}

.site-list__item-link {
  font-weight: @bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @desktop-width) {
  .site-list__item {
    padding-top: 29px;
  }

  .site-list__item-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    display: block;
  }

  .site-list {
    background-color: rgba(0, 0, 0, 0);
  }
}
