.site-list-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-list-actions__logo-link {
  margin: -2px 0 0 -52px;
  padding-top: 2px;

  &:focus {
    outline: none;
  }
}

.site-list-actions__logo-link:focus:not(:active) .site-list-actions__logo-image {
  fill: @cherry;
}

.site-list-actions__close {
  padding: 0px 19px 19px 0;
  margin-top: 16px;
}

.site-list-actions__close-image {
  &:hover {
    fill: @cherry;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

  &:focus:not(:active) {
    outline: none;
    fill: @cherry;
  }

  &:focus {
    outline: none;
  }
}

.site-list-actions__logo-glasses {
  display: none;
}

.site-list-actions__logo-star {
  display: none;
}

.site-list-actions__logo-image {
  fill: white;

  &:hover {
    fill: @cherry;
  }

  &:active {
    fill: white;
    opacity: 0.3;
  }

  &:focus:not(:active) {
    outline: none;
    fill: @cherry;
  }

  &:focus {
    outline: none;
  }
}

.site-list-actions__logo-image--index {
  &:hover {
    fill: white;
  }

  &:active {
    fill: white;
    opacity: 1;
  }

  &:focus:not(:active) {
    outline: none;
    fill: white;
  }

  &:focus {
    outline: none;
  }
}

.site-list-actions--show {
  border-bottom: 1px solid black;
}

.site-list-actions--show .site-list-actions__logo-link {
  padding: 0px 19px 19px 0;
  margin-top: 0px;
}

.site-list-actions--show .site-list-actions__close {
  padding: 0px 19px 19px 0;
}

@media (min-width: @tablet-width) {
  .site-list-actions {
    width: @tablet-width;
    padding: 15px 0 15px 0;
  }

  .site-list-actions__close {
    padding: 15px 19px 21px 0;
  }

  .site-list-actions__logo-glasses--tablet {
    display: inline;
  }

  .site-list-actions__logo-link {
    margin: 12px 0 0 20px;
  }

  .site-list-acions--show {
    padding: 15px 0 15px 0;
  }

  .site-list-actions--show .site-list-actions__close {
    padding: 15px 19px 21px 0;
  }

  .site-list-actions--show .site-list-actions__logo-link {
    margin: 14px 0 0 20px;
  }
}


@media (min-width: @desktop-width) {
  .site-list-actions__close {
    display: none;
  }

  .site-list-actions {
    border: none;
    width: 200px;
    padding: 0;
    margin: 0;
    margin-right: 128px;
    padding-top: 27px;
  }

  .site-list-actions__logo-link {
    margin: -1px 0 0 10px;
  }

  .site-list-actions__logo-start {
    fill: @cherry;
  }

  .site-list-actions__logo-glasses--tablet {
    display: none;
  }

  .site-list-actions__logo-glasses--desktop {
    display: inline;
  }

  .site-list-actions__logo-star {
    display: inline;
  }

  .site-list-actions--show .site-list-actions__logo-link {
    margin: -1px 0 0 10px;
  }
}
