.site-list {
  width: 320px;
  list-style: none;
  color: #ffffff;
  display: block;
  background-color: @navy;
  padding: 0;
  margin: 0 auto;
}

.site-list__item-link {
  font-weight: @bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: @cherry;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    color: @cherry;
  }
}

.site-list__item-link--active {
  &:hover {
    color: #ffffff;
  }

  &:active {
    opacity: 1;
  }
}

.site-list__item {
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid #485461;
  padding: 15px 0 15px 0;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 626px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
  }

  .site-list__item:not(:first-of-type) {
    border: none;
    padding-top: 46px;
    margin-left: 80px;
  }

  .site-list__item {
    border: none;
    padding-top: 46px;
  }

  .site-list__item-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    display: block;

    &:hover {
      color: @cherry;
    }

    &:active {
      color: white;
      opacity: 0.3;
    }

    &:focus:not(:active) {
      color: @cherry;
    }
  }

  .site-list__item-link--active {
    border-bottom: 2px solid white;
    padding-bottom: 10px;

    &:hover {
      color: white;
    }
  }
}
