.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 2px 4px 0 0;
  width: 185px;
}

.social-list__link {
  display: block;
  width: 51px;
  height: 51px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin: 0px 0 0px 4px;
  padding: 0px;
  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.social-list__link {
  &:focus {
    outline-color: @cherry;
  }
}

.social-list__item--twitter .social-list__link {
  padding: 13px 0px 0px 13px;
}

.social-list__item--facebook .social-list__link {
  padding: 12px 0px 0px 17px;
}

.social-list__item--y2b .social-list__link {
  padding: 15px 0px 0px 12px;
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 187px;
    justify-content: space-around;
    margin: -29px 0 0 0;
  }
}

@media (min-width: @tablet-width) {
  .social-list__item {
    margin-bottom: 5px;
  }
}
