.tariff {
  overflow: hidden;
  width: 320px;
}

.tariff__list {
  width: 1120px;
  margin-top: 116px;
}

.tariff td {
  width: 280px;
  outline: 1px solid #e5e5e5;
}

.tariff__name {
  outline: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: @navy;
}

.tariff__list--index {
  margin-left: -540px;
}

.tariff__type {
  display: flex;
  flex-direction: column;
}

.tariff__option {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 17px 0 2px 0;
}

.tariff__option--hit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;

    width: 74px;
    height: 73px;

    background-image: url("../../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.tariff__price {
  font-weight: @light;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}

.tariff__value {
  line-height: 30px;
  text-transform: uppercase;
  .set-default-paragraph;
  background-color: #ffffff;
  padding: 15px 0 15px 23px;
}

.tariff__toggles {
  padding-left: 120px;
  margin-top: 35px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .tariff {
    overflow: visible;
    width: @tablet-width;
    margin: 0 auto;
  }

  .tariff td {
    width: 148px;
  }

  .tariff__list--index {
    margin: 0 auto;
    padding: 0;
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .tariff__list--index {
    width: 940px;
  }

  .tariff {
    width: @desktop-width;
  }

  .tariff td {
    width: 236px;
  }
}
