.toggles__item {
  background-color: #bec2c7;
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
  margin-right: 15px;

  &:hover:not(.toggles__item--active) {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }

  &:focus:not(.toggles__item--active) {
    outline: none;
    background-color: #e9ebec;
  }
}

.toggles__item--active {
  background-color: #ffffff;
  border: 3px solid @navy;
  width: 12px;
  height: 12px;
  margin-right: 12px;

  &:focus {
    outline-color: @cherry;
  }
}
